<h1>La question pour le Coach stupide</h1>
<form action="/coaching/answer">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="query" placeholder="what time is it?">
  <input type="submit" value="Go on!">
</form>


<!-- Notice the important HTML attributes in the form:

action specifies the URL that will be used when submitting the form
name enables you to name each parameter corresponding to each input of the form.
Replace the ??? so that your form send a request to CoachingController#answer with a good parameter name. -->
